.toolbar {
    display: flex;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    padding: 0.625rem;
    margin-left:2.5rem;
    margin-right:2.5rem;
}

.toolbar a {
    color: lightgray;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    text-align: center;
    margin: 0 5px;

}

.toolbar a:hover {
    background-color: #555555;
    color: lightgray;
}

.toolbarSubMenu{
  visibility: hidden;
  z-index: 100;
}

.toolbarMenu:hover .toolbarSubMenu{
  visibility:visible;
}

.center-pillar {
  width: 70%;       
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto; 
  padding-bottom:1.25rem;
  padding-top:1.25rem;
  background-color: #222222;
}

.art-display {
  font-family: monospace; 
  background-color: #333;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: fit-content; 
  height: fit-content; 
}

.flexContainer{
 display: flex; 
 align-items: center;
 margin-left: 5rem;
 margin-right: 5rem;
 margin-bottom:1.25rem;
 gap: 2.5rem;
}

.container{
 margin-left: 5rem;
 margin-right: 5rem;
}

.discord-code{
  padding: 0.2em;
  margin: -0.2em 0px;
  border-radius: 3px;
  background: #191919;
  font-size: 0.85rem; /*check if this looks decent with rem, used to be em*/
  line-height: 1.125rem;
  
  white-space: pre;
}

.discord-code-lite{
  border:none;
  width:1.5rem;
  background-color:#191919;
  color:rgb(225, 225, 225);
  font-size: 0.85rem;
  border-radius:3px;
  font-family:monospace;
  padding:0.2em;
  text-align:end;
  display:block;
}

.discord-message-outer{
  margin-top: 1rem;
  padding: 0.125rem 16px 0.125rem 4.5rem;
  min-height: 2.75rem;
}

.discord-message-header{
  position: relative;
  margin-left: -4.5rem;
  padding-left: 4.5rem; 
}  

.discord-avatar{
  width: 2.5rem;
  position: absolute;
  left: 0px;
  top: 0.125rem;
  margin: 0px 1rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  height: 2.5rem; 
}  

.discord-name{
  display: inline;
  margin: 0px 0.25rem 0px 0px;
  font-weight: 500;
  color:#eee;
  line-height: 1.375rem;
  cursor: pointer;
}  
  
.discord-bot-tag{
  position: relative;
  top: -0.1rem;
  margin: 0.075em 0.25rem 0px 0px;
  padding: 0.071875rem 0.275rem;
  border-radius: 3px;
  background: #707070;
  font-size: 0.625em;
}  

.discord-timestamp{
  display: inline-block;
  height: 1.25rem;
  cursor: default;
  color: rgb(148, 155, 164);
  margin-left: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.375rem;
  vertical-align: baseline; 
}  

.discord-embed-outer{
  display: grid;
  padding: 0.125rem 0px;
}
.discord-embed-middle{
  place-self: start;
  max-width: 520px;
  display: flex;
  background: #303030;
  border-radius: 4px;
  border-left: 4px solid #909090;
}
	
.discord-embed-inner{
  padding: 0.5rem 1rem 1rem 0.75rem;
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}  

.discord-embed-header{
  min-width: 0px;
  display: inline-block;
  margin: 8px 0px 0px;
  grid-column: 1 / 2;
}  

.discord-embed-emote{
  height: 18px;
  width: 18px; 
  vertical-align: bottom;
  object-fit: contain;
}

.discord-embed-text{
  margin: 8px 0px 0px;
  min-width: 0px;
  grid-column: 1 / 2;
  font-size: 0.875rem;
  color: rgb(225, 225, 225);
  line-height: 1.125rem;
  white-space: pre-line;
  overflow-wrap: break-word;
}  
.discord-text-bolder{
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.discord-pet-display{
  width:5rem;
}

.discord-message{
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1.375; 
}  

.grayOnHover {
  transition: background-color 0.05s ease-in-out;
}

.grayBackground {
  background-color: #303030;
}

.grayOnHover:hover{
  background-color: rgba(255,255,255,0.3);
}
 
.no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no-arrows::-webkit-inner-spin-button, 
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 0.8rem; 
  height: 0.8rem; 
  background: #eee; 
  cursor: pointer; 
} 
input[type="range"]::-moz-range-thumb {
  width: 0.8rem; 
  height: 0.8rem;
  background: #eee;
  cursor: pointer; 
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #555;
  border-radius: 0px;
  outline: none;
  width:7.5rem;
  height:1rem;
} 

button {
  background-color:#333;
  color:lightgray;
  border-color:lightgray;
  height: 2rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-right:10px;
}

table, th, td {
  border:1px solid #303030;
  text-align: center;
  vertical-align: middle;
}
table{
  border-collapse: collapse;
}
td, th{
  padding:0.5rem 0.075rem;
}


body {
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #101010;
	color: lightgray;
	text-rendering: optimizelegibility;
}
	
ul {
  margin-top:0px;
}
	
h1{
  font-size:1.7rem;
  margin-top: 2rem;
  margin-bottom: 0px;
}  

a {
    color: #6d97c0; 
}

a:hover {
    color: #70b7cf;
}
