/*  This file is made for the slow adoption into prettier. 
    I copied discord's css initially when making this website, 
    and discord made extensive use of whitespace outside of <pre></pre> blocks.
    This is generally a code smell in hand-written HTML/CSS, so we're slowly working on removing it.

*/
.new-discord-code {
	padding: 0.2em;
	margin: -0.2em 0px;
	border-radius: 3px;
	background: #191919;
	font-size: 0.85rem;
	line-height: 1.125rem;
	display: inline;
}
