table.discord-code-styling.this-to-that td:last-child,
table.discord-code-styling.this-to-that td:first-child {
	background: #191919;
}

table.this-to-that td:first-child {
	text-align: right;
}
table.this-to-that td:last-child {
	text-align: left;
}
table.this-to-that td:nth-child(2)::after {
	content: '⇀';
}
