.introduction-discord-tag {
	z-index: 2;
	position: relative;
}

.introduction-platform-logo {
	z-index: 1;
	width: 5rem;
	position: absolute;
	left: 48%;
	top: 30%;
}

.introduction-table td {
	line-height: 1rem;
	text-align: start;
	border-right: none;
	border-left: none;
	padding: 0 0.8rem;
}

.introduction-table tr {
	height: 2.2rem;
}

.introduction-table {
	border-right: none;
	border-left: none;
}

.introduction-section {
	display: flex;
	gap: 3rem;
	align-items: center;
}

.introduction-section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem 1rem 0.5rem 0;
}
