.discord-code {
	border: none;
	width: 1.5rem;
	color: rgb(225, 225, 225);
	font-family: monospace;
	text-align: end;
	background-color: #050505;
}

.pet-name {
	font-size: 0.7rem;
	line-height: unset;
	width: unset;
	background-color: #191919;
}

.one-rem {
	width: 1rem;
	height: 1rem;
}

.pet-row .tooltip {
	z-index: 100;
	width: max-content;
	padding: 0.1rem;
	pointer-events: none;
	border: 2.5px solid rgb(25, 25, 25);
	font-size: 0.7rem;
	border-radius: 0.2rem;
	visibility: hidden;
	background-color: #333;
	position: absolute;
	right: -0.7rem;
}
.pet-row:hover .tooltip {
	visibility: visible;
}

.pet-row {
	display: flex;
	align-items: center;
	gap: 0.1rem;
	font-size: 0.75rem;
}
