.discord-code {
	border: none;
	width: 1.5rem;
	color: rgb(225, 225, 225);
	font-family: monospace;
	text-align: end;
	background-color: #050505;
}

.pet-name {
	font-size: 0.7rem;
	line-height: unset;
	width: unset;
	background-color: #191919;
}

.one-rem {
	width: 1rem;
	height: 1rem;
}

.pet-row:hover .tooltip {
	visibility: visible;
}

.pet-row {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	height: 1.25rem;
}
.tooltip-parent {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.1rem;
	width: min-content;
}
.tooltip-parent .tooltip {
	z-index: 100;
	width: max-content;
	padding: 0.1rem;
	pointer-events: none;
	border: 2.5px solid rgb(25, 25, 25);
	font-size: 0.7rem;
	border-radius: 0.2rem;
	visibility: hidden;
	background-color: #333;
	position: absolute;
	left: calc(100% + 0.1rem);
}

.outer-level-wrapper {
	grid-row: 1 / 2;
	grid-column: span 2;
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.level-wrapper {
	display: flex;
	align-items: center;
	border-radius: 3px;
	padding: 0.1rem 0.1rem 0.1rem 0.4rem;
	font-family: monospace;
	margin-right: 0.2rem;
}

.input-lvl {
	font-family: monospace;
	width: 1.7rem;
	border: none;
	background-color: transparent;
	color: lightgray;
}

.pet-button {
	margin: 1rem 0;
	font-size: 0.75rem;
	border-radius: 10rem;
	border-color: #909090;
	font-family: monospace;
	width: unset;
}

.arrowBefore {
	width: 3rem;
	position: relative;
}

.arrowBefore::before {
	content: '→';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(225, 225, 225);
	left: 0rem;
}

.passive-remove-btn {
	font-size: 0.6rem;
	width: 1.5rem;
	min-width: 1.5rem;
}

.pet-output-wrapper {
	border-right: 2px solid #202020;
	border-bottom: 2px solid #202020;
	border-radius: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	background: #393939;
}

.pet-output-wrapper .name {
	font-weight: bold;
	width: max-content;
}

.pet-output-wrapper .alias {
	font-size: 0.75rem;
	width: fit-content;
	text-align: start;
}

.suggestions {
	border: 1px solid #191919;
	background: #191919;
	border-radius: 0.2rem;
	margin-top: 0.2rem;
	display: none;
}

.suggestion {
	padding: 0.3rem;
	cursor: var(--cur-pointer);
	display: flex;
	gap: 0.35rem;
	align-items: baseline;
	font-size: 0.75rem;
}

.suggestion .alias {
	font-size: 0.6rem;
}

.suggestion:hover,
.suggestion.active {
	background: #555;
}

.suggestions > .suggestion:not(:last-child) {
	border-bottom: 1px dashed #666;
}

.column {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.passive-wrapper:hover .original {
	transform: translateY(-150%);
	opacity: 0;
}
.passive-wrapper:hover .replacement {
	transform: translateY(0);
	opacity: 1;
}

.passive-wrapper {
	background: #393939;
	padding: 1rem;
	border-radius: 10rem;
	font-family: monospace;
	overflow: hidden;
	position: relative;
	height: 1.3rem;
	cursor: var(--cur-pointer);
	gap: 0.3rem;
	width: 17rem;
	margin-top: 0.5rem;
	display: flex !important;
	align-items: center;
	border-right: 2px solid #202020;
	border-bottom: 2px solid #202020;
}

.passive-image-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 0.15rem;
	min-width: 28px;
}

.number-wrapper {
	display: flex;
	align-items: center;
	font-family: monospace;
	font-size: 0.8rem;
}

.original {
	position: absolute;
	width: inherit;
	font-family: monospace;
	font-size: 0.8rem;
	text-align: center;
	transition: 0.1s ease;
}
.replacement {
	transform: translateY(150%);
	opacity: 0;
	transition: 0.1s ease;
	width: inherit;
	display: flex;
	justify-content: center;
}

.number-wrapper,
input[type='range'],
.fake-button {
	height: 1.5rem;
	min-height: 1.5rem;
	margin: 0;
	padding: 0;
	border-radius: 10rem;
	background: #333;
	border: 2px outset #909090;
	max-height: 1.5rem;
}

.number-wrapper:hover,
.fake-button:hover {
	background-color: #555555;
}

input[type='range']:hover {
	background-color: #555555;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	background: #333;
	border-radius: 10rem;
	outline: 2px outset #909090;
	outline-offset: -0.7px;
	border: none;
}

input[type='range']::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	background: #333;
	border-radius: 10rem;
	outline: 2px outset #909090;
	outline-offset: -0.7px;
	border: none;
}

.fake-button {
	width: 1.5rem;
	min-width: 1.5rem;
	text-align: center;
	line-height: 1.4rem;
}

.search-bar {
	flex: 1;
	text-align: unset;
	width: unset;
}

#petContainer {
	display: flex;
	flex-direction: column;
}

.nav-button-wrapper {
	display: flex;
	gap: 1rem;
}

.nav-button-wrapper > button {
	margin: 1rem 0;
	border-radius: 10rem;
	border-color: #909090;
	flex: 1;
}
.flex-embed-inner {
	padding: 0.5rem 1rem 1rem 0.75rem;
	display: flex;
	flex-direction: column;
	width: 38rem;
}
