.weaponSlider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: var(--cur-pointer);
}

.weaponSlider::-webkit-slider-runnable-track {
	height: 6px;
	background: #ccc;
}

.weaponSlider::-moz-range-track {
	height: 6px;
	background: #ccc;
}

.weaponSlider::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	background: url('/media/misc_images/colon_three.png') no-repeat center center;
	background-size: contain;
	border: none;
}

.weaponSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	background: url('/media/misc_images/colon_three.png') no-repeat center center;
	background-size: contain;
	border: none;
	margin-top: -0.55rem;
}

.add-passive-wrapper {
	background: #393939;
	padding: 1rem;
	border: 1px solid #444;
	border-radius: 0.5rem;
	font-family: monospace;
	overflow: hidden;
	position: relative;
	height: 1.3rem;
	cursor: var(--cur-pointer);
}

.add-passive-wrapper:hover .text.original {
	transform: translate(-50%, -150%);
	opacity: 0;
}
.add-passive-wrapper:hover .text.replacement {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.text.original {
}
.text.replacement {
	transform: translate(-50%, 100%);
	opacity: 0;
}

.weapon-desc-image {
	vertical-align: text-bottom;
	display: inline-block;
	margin-bottom: -1.5px;
}

.smol-right-margin {
	margin-right: 0.2rem;
}

.star-wrapper:hover {
	background-color: #404040;
}

.text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition:
		transform 0.3s ease,
		opacity 0.4s ease;
	white-space: nowrap;
}

.ranged-input {
	border: none;
	width: 1.5rem;
	color: inherit;
	font-size: 0.8rem;
	border-radius: 3px;
	font-family: monospace;
	padding: 0.1rem;
	text-align: end;
	display: block;
	background-color: transparent;
}

.ranged-input:focus {
	outline: 1px solid lightskyblue;
	outline-offset: 0px;
}

.input-wrapper {
	background-color: #191919;
	display: flex;
	padding: 0;
	border-radius: 0.2rem;
	align-items: center;
	width: max-content;
	margin: 0 0.2rem;
}

.outer-input-wrapper {
	display: inline-block;
	margin: 0 -0.2rem;
}

.input-wrapper:hover {
	background-color: #555555;
}

#wearButton:hover {
	background: #555555;
}

#wearSelect .selected {
	position: relative;
}

#wearSelect .selected::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.4rem;
	width: 0.25rem;
	height: 0.25rem;
	border-right: 2px solid currentColor;
	border-bottom: 2px solid currentColor;
	transform: translateY(-65%) rotate(45deg);
	pointer-events: none;
}

#wearSelect.open .selected::after {
	transform: translateY(-30%) rotate(-135deg);
}

.weapon-line .weapon-id {
	font-size: 0.8rem;
	height: 1rem;
	line-height: 1rem;
}

.weapon-line {
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	align-items: center;
	height: 1.4rem;
}

.passive-item .passive-emote:hover {
	background-color: #666;
	cursor: var(--cur-pointer);
}

.tooltip-lite {
	position: relative;
}

.tooltip-lite-child {
	z-index: 7;
	position: absolute;
	width: 12.5rem;
	top: 1.15rem;
	background-color: #555;
	transform: translateX(-50%);
	left: 50%;
	height: 1.9rem;
	padding: 0 0.3rem;
	border-radius: 0.2rem;
	display: flex;
	align-items: center;
}

.tooltip-lite:hover *,
.tooltip-lite-child:hover {
	visibility: visible;
	opacity: 1;
}

.weapon-line.description,
.passive-item,
.buff-item {
	height: unset;
}

.weapon-line.description > div,
.passive-item > *,
.buff-item > * {
	display: inline;
	white-space: normal;
	line-height: 1.2rem;
}

.buff-item {
	position: relative;
	margin: 0.2rem 0 0 1rem;
	color: #aaa;
}

.buff-item::before {
	content: '';
	position: absolute;
	left: -1rem;
	top: 0.25rem;
	bottom: 0.25rem;
	width: 4px;
	background: #555;
	border-radius: 999px;
}

.weapon-line.header {
	font-weight: bolder;
	font-size: 0.9rem;
	margin: 1.2rem 0 0.4rem 0;
	text-decoration: underline;
}

.passive-container {
	padding: 0.75rem 0rem;
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	gap: 0.35rem;
}

.buffContainer {
	font-size: 0.8rem;
}

.passive-grid {
	display: grid;
	grid-template-rows: repeat(2, 1.4rem);
	grid-auto-flow: column;
	grid-auto-columns: 1.4rem;
}

.passive-grid img {
	width: 100%;
}

/*these are still WIP, would eventually be used for switching weapons in the weapon calculator*/
.weaponImageGridWrapper:hover .toolbarSubMenu {
	visibility: visible;
}

.weaponImageGridWrapper a:hover {
	background-color: #555555;
	color: lightgray;
}

/*styles for the custom select element start here. I might end up moving to a normal select sometime though?*/
.custom-select {
	position: relative;
	width: 5.2rem;
	font-family: monospace;
	font-size: 0.85rem;
	white-space: unset;
}

.selected {
	width: 100%;
	text-align: left;
	padding: 0.1rem 0.2rem;
	border: none;
	border-radius: 0.2rem;
	background: #191919;
	color: lightgray;
	cursor: var(--cur-pointer);
	font-family: monospace;
	height: 1.3rem;
	min-height: 1.3rem;
}

.selected:focus {
	outline: 1px solid lightskyblue;
	outline-offset: 0px;
}

.options {
	position: absolute;
	left: 0;
	right: 0;
	border-radius: 2px;
	padding: 0 0;
	background: #191919;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	max-height: 220px;
	overflow: auto;
	display: none;
	z-index: 1000;
}

.custom-select.open .options {
	display: block;
}

.option {
	padding: 0.2rem 0.2rem;
	line-height: 1.2;
	cursor: var(--cur-pointer);
}

.option:hover,
.option.highlighted {
	background: #454545;
}

.option[aria-selected='true']::after {
	content: '✓';
	float: right;
	color: lightgray;
}

.options:focus {
	outline: none;
}
