.weaponSlider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: var(--cur-pointer);
}

.weaponSlider::-webkit-slider-runnable-track {
	height: 6px;
	background: #ccc;
}

.weaponSlider::-moz-range-track {
	height: 6px;
	background: #ccc;
}

.weaponSlider::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	background: url('/media/misc_images/colon_three.png') no-repeat center center;
	background-size: contain;
	border: none;
}

.weaponSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	background: url('/media/misc_images/colon_three.png') no-repeat center center;
	background-size: contain;
	border: none;
	margin-top: -0.55rem;
}

.add-passive-wrapper {
	background: #393939;
	padding: 1rem;
	border: 1px solid #444;
	border-radius: 0.5rem;
	font-family: monospace;
	overflow: hidden;
	position: relative;
	height: 1.3rem;
	cursor: var(--cur-pointer);
}

.add-passive-wrapper:hover .text.original {
	transform: translate(-50%, -150%);
	opacity: 0;
}
.add-passive-wrapper:hover .text.replacement {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.text.original {
}
.text.replacement {
	transform: translate(-50%, 100%);
	opacity: 0;
}

.weapon-desc-image {
	vertical-align: text-bottom;
	display: inline-block;
	margin-bottom: -1.5px;
}

.smol-right-margin {
	margin-right: 0.2rem;
}

.star-wrapper:hover {
	background-color: #404040;
}

.text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition:
		transform 0.3s ease,
		opacity 0.4s ease;
	white-space: nowrap;
}
