.on-top {
	z-index: 2;
	position: relative;
}

.platform-logo {
	z-index: 1;
	width: 5rem;
	position: absolute;
	left: 48%;
	top: 30%;
}

table td {
	line-height: 1rem;
	text-align: start;
	border-right: none;
	border-left: none;
	padding: 0 0.8rem;
}

table tr {
	height: 2.2rem;
}

table {
	border-right: none;
	border-left: none;
	width: 100%;
}

section {
	display: flex;
	gap: 3rem;
	align-items: center;
}

section > div:last-child {
	flex: 1;
}

.section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem 1rem 0.5rem 0;
}

h3 {
	margin: 0;
}

.table-wrapper {
	display: flex;
	gap: 2.5rem;
}

.table-wrapper > div:last-child {
	flex: 1;
}
