---
const images = import.meta.glob(
  "../assets/images/construction/*.gif",
  { eager: true, import: "default" }
);
const imageList = Object.values(images);
const randomImage = imageList[Math.floor(Math.random() * imageList.length)];
---
<style>
  h3 {
    text-align: center; 
    font-size: 18px; 
    font-weight: bold; 
    margin-top: 10px;
  }
  div {
    padding: 2rem;
    margin: 2rem 10rem;
    border: 1px solid gray;
  }
  img {
    height: 150px;
    display: block;
    margin: 0 auto;
  }
</style>

<div>
  <img src={Object(randomImage).src}/>
  <slot />
</div>