table {
	font-size: 0.8rem;
	table-layout: fixed;
	border-collapse: collapse;

	td,
	th {
		width: 5%; /*I have no clue why 5% works*/
		overflow: hidden;
		border: 1px solid #303030;
		padding: 0.5rem 0.075rem;
		&:first-child {
			width: 6%;
			padding: 0;
		}
	}
	th {
		font-size: 2rem;
	}
}
