.triangle-button-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2rem -4rem 0 0;
}

.triangle-button-wrapper button {
	width: 100%;
	display: flex;
	gap: 0.3rem;
	align-items: center;
}

.triangle-button-wrapper button,
.triangle-button-wrapper a {
	z-index: 3;
}

.triangle-button-wrapper button > img {
	height: 90%;
}

.triangle-button-wrapper a button {
	color: #6d97c0;
	text-decoration: underline;
}

.triangle-button-wrapper a:hover button {
	color: #90d7ee;
}

.triangle-help-label {
	pointer-events: none;
	position: absolute;
	font-size: 0.8rem;
	width: 0.1px;
	height: 0.1px;
}

.triangle-help-label.left > div {
	transform: translate(0, -0.5rem);
	direction: rtl;
}

.triangle-help-label.right > div {
	transform: translate(0, -0.5rem) rotate(-60deg);
}

.triangle-help-label.bottom > div {
	transform: translate(0, -0.5rem) rotate(60deg);
}

.triangle-help-label span {
	padding: 0 0.5rem;
}

.triangle-help-label.animated {
	transition: 0.1s ease;
	font-size: 0.7rem;
}
